body {
  font-family: Arial, Bold, sans-serif;
  position: relative;
  color: #ffffff;
}

#drone_feature{
  background:url(TopImage.jpg);
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
}

#seed_detection{
  background:url(regrowth_2.jpg);
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
}

#automatic_optimization{
  background:url(regrowth_5.jpg);
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
}

#improved_camera{
  background:url(regrowth_6.jpg);
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
}

#powerful_motor{
  background:url(regrowth_8.jpg);
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
}

.hero, .content{
  text-align:center;
  position:relative;
  width: 100%;
}

.inner{
  min-height:600px;
  position: relative;
}

.hero .inner{
  background: rgba(0,0,0,0.7) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAYAAACddGYaAAAAD0lEQVQIW2NkQABjRmQOAAM+AGkQsDBSAAAAAElFTkSuQmCC) repeat;}


.copy{
  position:absolute;
  top:50%;
  height:10em;
  margin-top:-5em;
  width:100%;
}

h1{
  margin:0px;
  font-weight:bolder;
  font-size:70px;
  padding:0px 20px;
  color:antiquewhite; 
}

.hero_left {
  text-align:left;
  position:relative;
  width: 100%;
}

.hero_left h1{
   color:black !important;
}

.hero_left p{
  color:black !important;
}

/* used in side by side divs */
.parent {
  padding: 1rem
}
.child {
  padding: 1rem
}

.grid-parent {
  display: grid;
  grid-template-columns: 1fr 1fr
}

.collapsible {
    background-color: #669900;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
}

    .active, .collapsible:hover {
        background-color: #336600;
    }

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f2ffe6;
    color: #1a3300;
}